# Archivos de Visual Studio
\.vs
.vs/slnx.sqlite
*.suo
*.user
*.userosscache
*.sln.docstates

# Compilados binarios
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.obj
*.lib
*.so
*.dylib

# Carpetas de compilación
bin/
obj/
Debug/
Release/
x64/
x86/

# Archivos temporales
*.log
*.tmp
*.bak

# Archivos de configuración locales
*.vcxproj.user
*.vscode/

# Archivos generados por dependencias externas
packages/
