# Archivos de Visual Studio
.vs/
*.user
*.suo

# Directorios de compilación
Debug/
Release/
x64/
x86/
bin/
obj/
out/

# Archivos intermedios
*.obj
*.pdb
*.idb
*.ilk
*.log
*.tlog

# Ejecutables y librerías compiladas
*.exe
*.dll
*.lib
*.app
*.so
*.dylib

# Otros
*.cache
*.ipch
*.aps
*.ncb
*.opendb
*.VC.db
*.VC.VC.opendb
